
.container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    .brand{
        font-family: 'Poppins', sans-serif;
        text-transform: lowercase;
        font-weight: 900;
        font-size: 24px;
    }
    a{
        text-decoration: none;
        color: $nuetral-white;
    }
}

.toggle-container{
    display: none;

    button{
        background: none;
        padding: 0;
        border: none;
    }
    .fas{
        font-size: 30px;
        color: $nuetral-white;
    }

    @media only screen and (max-width:430px){
        display: inline-block;
    }
}

.nav-collapse{
    display: inline;
    right: 0;
    transition: .5s ease all;

    @media only screen and (max-width:430px){
        display: none;
        position: absolute;
        top: 115px;
        left: 30px;
        right: 30px;
        padding: 30px 0;
        background-color: $nuetral-white;

        a{
            color: $neutral-black;
        }
    }
    .block{
        width: 0;
        height: 0;
        position: absolute;
        display: none;
        right: 0;
        top: -30px;
        border-top-width: 50px;
        border-top-style: solid;
        border-top-color: transparent;
        border-right-width: 50px;
        border-right-style: solid;
        border-right-color: $nuetral-white;

        @media only screen and (max-width:430px){
            display: block;
        }
    }
    ul{
        margin: 0;
        padding: 0;
        display: inline;
        list-style-type: none;
    }

    li{
        display: inline;
        padding: 15px 30px;
        border-radius: 50px;
        transition: .5s all ease;

        &:hover{
            background-color: $soft-red;
        }
        @media only screen and (max-width:430px){
            width: fit-content;
            display: block;
            margin: 10px auto;
            text-align: center;

            &:hover{
                background: none;
            }

            a{
                font-weight: bold;
                color: $purple-gray;
            }
        }
    }

    .contact{
        font-family: 'Fraunces', serif;
        background-color: $nuetral-white;
        border-radius: 50px;
        
        @media only screen and (max-width:430px){
            background-color: $primary-yellow;
        }
        a{
            color: $neutral-black;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}

.arrow-down{
    text-align: center;
    padding-top: 40px;

    @media only screen and (max-width:430px){
        img{
            height: 180px;
        }
    }
}

.item-section{
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    
    .block-text{
        background-color: $nuetral-white;
        padding: 150px 150px 150px 150px;

        @media only screen and (max-width: 769px){
            padding: 80px;
        }
    }

    .block-img{
        background-position: center;
        background-size: cover;
    }

    h1{
        width: 80%;
        font-family: 'Fraunces', serif;
        color: $darker-blue;
        font-size: 40px;

        @media only screen and (max-width: 769px){
            width: 90%;
        }
    }

    p{
        font-weight: bold;
        color: $gray-blue;
    }

    a{
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        font-weight: bold;
        font-size: 15px;
        color: $darker-blue;
        transition: .2s ease all;
    }
}

.yellow {
    text-decoration: #fad40085 solid 5px underline;

    &:hover{
        text-decoration: $primary-yellow solid 5px underline;
    }
}

.pink{
    text-decoration: #fe796786 solid 5px underline;

    &:hover{
        text-decoration: $soft-red solid 5px underline;
    }
}

.egg .block-img{
    background-color: $primary-yellow;
    background-image: url(../images/desktop/image-egg.jpg);
}

.cup .block-img{
    background-color: $soft-red;
    background-image: url(../images/desktop/image-cup.jpg);
}

.twin-block{
    padding: 25rem 0 0 0;
    text-align: center;

    @media only screen and (max-width: 769px){
        padding: 24rem 0 0 0;
    }

    h1{
        width: 100%;
        font-size: 30px;
        text-align: center;
        text-transform: capitalize;
    }

    p{
        width: 50%;
        margin: 0 auto;

        @media only screen and (max-width: 769px){
            width: 80%;
        }
    }
}

.cherry{
    background-image: url(../images/desktop/image-cherry.jpg);
    h1, p{
        color: $primary-text-col;
    }
}

.naartjie{
    background-image: url(../images/desktop/image-naartjie.jpg);
    h1, p{
        color: $secondary-text-col;
    }
}

.testimonials{
    height: 75vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 120px;

    @media only screen and (max-width: 769px){
        margin-top: 50px;
        height: 95vh;
        grid-template-columns: repeat(2, 1fr);
    }

    h1{
        font-family: 'Fraunces', serif;
        grid-column: span 3;
        text-align: center;
        color: $purple-gray;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 20px;

        @media only screen and (max-width: 769px){
            grid-column: span 2;
        }
    }

    .person{
        text-align: center;
    }

    img{
        width: 90px;
        height: 90px;
        border-radius: 100%;
        margin: 20px auto;
    }

    p{
        font-weight: bold;
        color: $gray-blue;
        padding: 0 95px 40px;
    }

    h3{
        font-family: 'Fraunces', serif;
        margin: 0 0 0 10px;
    }
    h5{
        margin: 10px 0 0 0;
        font-size: 15px;
        color: $grayish-blue;
    }
}

.grid-4{
    height: 500px;
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(4, 1fr);

    @media only screen and (max-width: 769px){
        grid-template-columns: repeat(2, 1fr);
    }

    div{
        background-position: center;
        background-size: cover;
    }

    .milk{
        background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
    }
    .plate{
        background-image: url(../images/desktop/image-gallery-orange.jpg);
    }
    .cone{
        background-image: url(../images/desktop/image-gallery-cone.jpg);
    }
    .cubes{
        background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
    }
}

.attribution{
    background-color: $footer-text-col;
}