// Colors and Fonts

// Primary colors
$soft-red: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
$neutral-black: hsl(0, 0%, 0%);
$baby-blue: hsl(200, 100%, 62%);

$primary-text-col: hsl(167, 40%, 24%);
$secondary-text-col: hsl(198, 62%, 26%);
$footer-text-col: hsl(168, 34%, 41%);

// Neutral Colors
$darker-blue: hsl(211, 28%, 19%);
$gray-blue: hsl(210, 9%, 39%);
$purple-gray: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$nuetral-white: hsl(0, 0%, 100%);



