body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}

header {
  height: 100vh;
  background-image: url("../images/desktop/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-color: #3dbeff;
}

header h1 {
  font-family: 'Fraunces', serif;
  color: white;
  text-transform: uppercase;
  padding-top: 50px;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 900;
  font-size: 50px;
}

footer {
  height: 300px;
  background-color: #458c7e;
  padding-top: 50px;
}

footer h1 {
  margin: 0;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #25564b;
  text-transform: lowercase;
}

footer .footer-nav {
  margin-top: 30px;
  text-align: center;
}

footer ul {
  list-style: none;
  display: inline;
  width: 100%;
  padding: 0;
}

footer ul li {
  display: inline;
  padding: 10px 30px 10px;
}

footer ul a {
  text-decoration: none;
  font-weight: bold;
  color: #25564b;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
}

footer ul a:hover {
  color: white;
}

footer .social-icons {
  text-align: center;
  padding-top: 50px;
}

footer .social-icons span {
  padding: 10px 20px;
}

footer .social-icons .fab {
  font-size: 28px;
  color: #25564b;
  -webkit-transition: .5s ease-in-out all;
  transition: .5s ease-in-out all;
}

footer .social-icons .fab:hover {
  color: white;
}

.container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.container-fluid .brand {
  font-family: 'Poppins', sans-serif;
  text-transform: lowercase;
  font-weight: 900;
  font-size: 24px;
}

.container-fluid a {
  text-decoration: none;
  color: white;
}

.toggle-container {
  display: none;
}

.toggle-container button {
  background: none;
  padding: 0;
  border: none;
}

.toggle-container .fas {
  font-size: 30px;
  color: white;
}

@media only screen and (max-width: 430px) {
  .toggle-container {
    display: inline-block;
  }
}

.nav-collapse {
  display: inline;
  right: 0;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

@media only screen and (max-width: 430px) {
  .nav-collapse {
    display: none;
    position: absolute;
    top: 115px;
    left: 30px;
    right: 30px;
    padding: 30px 0;
    background-color: white;
  }
  .nav-collapse a {
    color: black;
  }
}

.nav-collapse .block {
  width: 0;
  height: 0;
  position: absolute;
  display: none;
  right: 0;
  top: -30px;
  border-top-width: 50px;
  border-top-style: solid;
  border-top-color: transparent;
  border-right-width: 50px;
  border-right-style: solid;
  border-right-color: white;
}

@media only screen and (max-width: 430px) {
  .nav-collapse .block {
    display: block;
  }
}

.nav-collapse ul {
  margin: 0;
  padding: 0;
  display: inline;
  list-style-type: none;
}

.nav-collapse li {
  display: inline;
  padding: 15px 30px;
  border-radius: 50px;
  -webkit-transition: .5s all ease;
  transition: .5s all ease;
}

.nav-collapse li:hover {
  background-color: #fe7867;
}

@media only screen and (max-width: 430px) {
  .nav-collapse li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    margin: 10px auto;
    text-align: center;
  }
  .nav-collapse li:hover {
    background: none;
  }
  .nav-collapse li a {
    font-weight: bold;
    color: #818498;
  }
}

.nav-collapse .contact {
  font-family: 'Fraunces', serif;
  background-color: white;
  border-radius: 50px;
}

@media only screen and (max-width: 430px) {
  .nav-collapse .contact {
    background-color: #fad400;
  }
}

.nav-collapse .contact a {
  color: black;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.arrow-down {
  text-align: center;
  padding-top: 40px;
}

@media only screen and (max-width: 430px) {
  .arrow-down img {
    height: 180px;
  }
}

.item-section {
  width: 100%;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0;
}

.item-section .block-text {
  background-color: white;
  padding: 150px 150px 150px 150px;
}

@media only screen and (max-width: 769px) {
  .item-section .block-text {
    padding: 80px;
  }
}

.item-section .block-img {
  background-position: center;
  background-size: cover;
}

.item-section h1 {
  width: 80%;
  font-family: 'Fraunces', serif;
  color: #23303e;
  font-size: 40px;
}

@media only screen and (max-width: 769px) {
  .item-section h1 {
    width: 90%;
  }
}

.item-section p {
  font-weight: bold;
  color: #5a636c;
}

.item-section a {
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  font-weight: bold;
  font-size: 15px;
  color: #23303e;
  -webkit-transition: .2s ease all;
  transition: .2s ease all;
}

.yellow {
  -webkit-text-decoration: #fad40085 solid 5px underline;
          text-decoration: #fad40085 solid 5px underline;
}

.yellow:hover {
  -webkit-text-decoration: #fad400 solid 5px underline;
          text-decoration: #fad400 solid 5px underline;
}

.pink {
  -webkit-text-decoration: #fe796786 solid 5px underline;
          text-decoration: #fe796786 solid 5px underline;
}

.pink:hover {
  -webkit-text-decoration: #fe7867 solid 5px underline;
          text-decoration: #fe7867 solid 5px underline;
}

.egg .block-img {
  background-color: #fad400;
  background-image: url(../images/desktop/image-egg.jpg);
}

.cup .block-img {
  background-color: #fe7867;
  background-image: url(../images/desktop/image-cup.jpg);
}

.twin-block {
  padding: 25rem 0 0 0;
  text-align: center;
}

@media only screen and (max-width: 769px) {
  .twin-block {
    padding: 24rem 0 0 0;
  }
}

.twin-block h1 {
  width: 100%;
  font-size: 30px;
  text-align: center;
  text-transform: capitalize;
}

.twin-block p {
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 769px) {
  .twin-block p {
    width: 80%;
  }
}

.cherry {
  background-image: url(../images/desktop/image-cherry.jpg);
}

.cherry h1, .cherry p {
  color: #25564b;
}

.naartjie {
  background-image: url(../images/desktop/image-naartjie.jpg);
}

.naartjie h1, .naartjie p {
  color: #19536b;
}

.testimonials {
  height: 75vh;
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 120px;
}

@media only screen and (max-width: 769px) {
  .testimonials {
    margin-top: 50px;
    height: 95vh;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.testimonials h1 {
  font-family: 'Fraunces', serif;
  grid-column: span 3;
  text-align: center;
  color: #818498;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
}

@media only screen and (max-width: 769px) {
  .testimonials h1 {
    grid-column: span 2;
  }
}

.testimonials .person {
  text-align: center;
}

.testimonials img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  margin: 20px auto;
}

.testimonials p {
  font-weight: bold;
  color: #5a636c;
  padding: 0 95px 40px;
}

.testimonials h3 {
  font-family: 'Fraunces', serif;
  margin: 0 0 0 10px;
}

.testimonials h5 {
  margin: 10px 0 0 0;
  font-size: 15px;
  color: #a7abae;
}

.grid-4 {
  height: 500px;
  display: -ms-grid;
  display: grid;
  grid-gap: 0;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 769px) {
  .grid-4 {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.grid-4 div {
  background-position: center;
  background-size: cover;
}

.grid-4 .milk {
  background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
}

.grid-4 .plate {
  background-image: url(../images/desktop/image-gallery-orange.jpg);
}

.grid-4 .cone {
  background-image: url(../images/desktop/image-gallery-cone.jpg);
}

.grid-4 .cubes {
  background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
}

.attribution {
  background-color: #458c7e;
}
/*# sourceMappingURL=main.css.map */